* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    display: grid;
    height: 100vh;
    place-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;


    border-radius: 15px;
    text-align: center;
    padding: 30px 20px;
    
}

.title {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-bottom: 10px;
}

.search-input input {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid rgb(121, 120, 120);
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 20px 0px 0px 20px;
}

.search-input button {
    padding: 10px 15px;
    background-color: rgb(71, 58, 255);
    border: 1px solid rgb(71, 58, 255);
    color: white;
    border-radius: 00px 20px 20px 0px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.search-input button:hover {
    background-color: rgb(55, 55, 55);
}

#photo-container {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-top: 30px;

    margin-bottom: 20px;
}

#photo-container img {

    max-height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
}

footer a {
    font-weight: bold;
    color: rgb(0, 0, 0);
}